
body::before{
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: linear-gradient( 125deg, rgba(58, 122, 97, 0.8), rgba(85, 212, 129, 0.7) ), url("grass.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

body{
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  margin: 0 0 1.5rem 0;
}

.container{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

header{
  text-align:center;
}

.form-group {
  margin: 1.5rem auto;
  font-size: 1.2rem;
  width: 100%;
}

form{
  background-color: rgba(81, 135, 215, 0.8); 
  border-radius: 1rem;
  padding: 1rem;
  border: rgba(218, 37, 37, 0.8) solid 1rem;
  box-sizing: border-box;
}

.form-control{
  display: block;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  width: 100%;
  padding: 0.5rem 0.5rem;
  margin: 0.25rem 0;
}

.radio, .checkbox{
  display: block;
}


input, textarea, select{
  border: none;
  box-sizing: border-box;
  background-color: blue;
}

input.form-control:focus {
  outline:#f61616 solid 2px;
  border-radius: 0.5rem;
}

input[type="submit"] {
  display: block;
  width: 100%;
  margin: 0.5em 0; 
  height: 2em;
  font-size: 1.1rem;
  color:white;
  background-color: #1a26ce;
  border: 3px solid rgb(27, 3, 146);
  border-radius: 0.5rem;
}

textarea{
  resize: none;
}

h1{
  font-weight: 900;
  font-size: 2.5rem;
  color:rgba(19, 56, 48, 0.8);
  -webkit-text-stroke: 1px white;
}

p{
  font-size: 15px;
  font-style: italic;
}

.adds{
  font-size: 0.75rem;
}
